{{#each roles as |role| }}
<div class="VACANCY"></div>,"row align-center mb-5"
  <div class="col-md-6">
    <h2>{{role_name}}</h2>
      <p>{{company}}</p>
      <p>{{job_type}}</p>
      <p>{{salary}}</p>
      <p>{{location}}</p>
     <p><a href="#Apply now"></a></p>
  </div>
{{/each}}



