<div class="role_container " id= "specific-container">
<div class="selected-role-card">
        <a href="/role/{{role.id}}">{{role.role_name}}</a> 
        <p class="company">{{role.company}}</p>
        <p class="sal">£{{formatNumberWithCommas role.salary}} per annum</p>
        <p class="job">{{role.job_type}}</p>
        <p class="loc">{{role.location.location_name}}</p>
        <p class="cat">{{role.category.category_name}}</p>
        <p class="desc">{{role.description}}</p>
        <a href="/application/{{role.id}}"><button class="applybtn button">Apply Now</button></a>
       <!--**--> <button id="savebtn" class="savebtn button" data-id="{{role.id}}">Save Job</button>  <!--js when they click save it makes a post request to /api/savedRole/(creates a savedRole record) add javascript functionality so that when they click save the button changes to 'saved' if response.ok saved +refresh page-->
    </div>
</div>
<script src="/js/role.js"></script> <!--**-->