
<div class="search-container">
    <div class="search-div">
        <form action="/search-results">
            <input type="text" id="query-input" placeholder="Search for jobs" class="search-field" name="roleName">
            <select class="job-type-select search-field" name="jobType">
                <option value="">Job Type</option>
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Remote">Remote</option>
                <option value="Hybrid">Hybrid</option>
            </select>
            <select class="location-select search-field" name="location">
                <option value="">Location</option>
                <option value="New York">New York</option>
                <option value="San Francisco">San Francisco</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="London">London</option>
                <option value="Paris">Paris</option>
                <option value="Berlin">Berlin</option>
                <option value="Manchester">Manchester</option>
                <option value="Amsterdam">Amsterdam</option>
                <option value="Madrid">Madrid</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Dublin">Dublin</option>
                <option value="Edinburgh">Edinburgh</option>
                <option value="Rome">Rome</option>
                </select>
                <button id="submitbtn" type="submit" value="Search">Search</button>
        </form>
    </div>
</div>


<div class="searched-roles-section">
    <div class="container" id = "searched-container">
    <div id="searched-roles-card">
        {{#if searchedRoles.length}}
        {{#each searchedRoles as |searchedRole|}}
        <div class="searched-role-card">
            <a class = "job-title" href="/role/{{searchedRole.id}}">{{searchedRole.role_name}}</a>
            <p class="company-name">{{searchedRole.company}}</p>
            <p class="salary">£{{formatNumberWithCommas searchedRole.salary}} per annum</p>
            <p class="job-type">{{searchedRole.job_type}}</p>
            <p class="location">{{searchedRole.location.location_name}}</p>
        </div>
    {{/each}}
    {{else}}
    <p>Oops, looks like we coundn't find any jobs to match your search, please try again!</p>
    {{/if}}
    </div>
    </div>
</div>